/* -----------------------------------
        5 - DECORATION
------------------------------------ */

/* DOTS */
.big-dot {
  font-size: var(--fs-h1);
  line-height: 0;
  color: var(--color-accent); /* Fonction du thème */
  transition: var(--transition-fast);
}

/* COULEURS (texte) */

/* Flame */
.is-flame-color {
    color: var(--color-flame);
}

/* Teal */
.is-teal-color {
    color: var(--color-teal);
}


